.page {

	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;

}

.main {

	

}

.title {

	font-size: 48pt;
	color: #fff;

}
