.forwardButton, .backButton {
	
	--border-radius: 20px;

	background-color: var(--accent-1);
	background-size: normal;
	background-position: center; 
	background-repeat: no-repeat; 
	margin-top: 10px;
	margin-bottom: 40px;
	width: 40px;
	height: 40px;
	border: none;

}

.forwardButton:hover, .backButton:hover {
	background-color: var(--accent-2);
}

.forwardButton {
	background-image: url('/right-arrow.svg');
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	border-left: 1px solid var(--accent-2);
}

.backButton {
	background-image: url('/left-arrow.svg');
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	border-right: 1px solid var(--accent-2);
}

