:root {
	--background-color: #073b4c;
	--accent-1: #031e26;
	--accent-2: #1f404d;
	--green: #06d6a0;
	--red: #ef476f;
	--button-color: #118ab2;
	--font: 'Roboto', sans-serif;
	--font-color: #fff;
}

body {

	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 20pt;
	background-color: var(--background-color);
	border: none;
	color: var(--font-color);

}

