:root {
	--background-color: #1a1a1a;
	--accent-1: #2a2a2a;
	--accent-2: #313131;
	--accent-3: #151515;
	--green: #06d6a0;
	--red: #ef476f;
	--button-color: #118ab2;
	--font: 'Roboto', sans-serif;
	--font-color: #bebebe;
}

body {

	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 20pt;
	background-color: var(--background-color);
	border: none;
	color: var(--font-color);

}

