.page {
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {

	flex: 1;

}

.interfaceContainer {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.count {

	font-size: 48pt;
	font-family: 'Comic Sans MS';
	color: #fff;
	padding: 10px;

}

.buttonContainer {

	display: flex;

}

.sidebar {

	position: absolute;
	left: 0;
	top: 0;
	padding: 20px;
	font-size: 16pt;
	font-family: 'Comic Sans MS';

}

.footer {

	height: 80px;

}

.placeHolder {

	width: 512px;
	height: 512px;

}
