.main {
	display: flex;
	justify-content: center; 
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.container {
	width: 60vw;
	height: 85vh;
	background-color: var(--accent-3);
	margin-top: 20px;
	border: 3px solid var(--highlight);
	border-radius: 20px;
}

.interfaceContainer {

	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.buttonContainer {

	display: flex;

}

.img {

	border-radius: 20px;
	overflow: hidden;
	width: 450px;
	height: 450px;

}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 450px;
	height: 550px;
	margin-top: 60px;
	background-color: var(--accent-1);
	border-radius: 20px;
	border: 3px solid var(--highlight);
	font-size: 32pt;
	overflow: hidden;
}

.nameLabel {
}

@media(max-width: 768px) {
	.img {
		width: 350px;
		height: 350px;
		margin-top: 40px;
	}
}
