.title {

	font-size: 48pt;
	font-family: var(--font);
	color: var(--font-color);

}

.leaderboard {
	
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;

}

.entries {

	display: flex;
	flex-direction: column;
	align-items: center;

}

.entryContainer {

	width: 80vw;
	border-radius: 10px;
	margin-bottom: 30px;
	overflow: hidden;


}

.message {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

}

@media(max-width: 768px) {
	.title {
		font-size: 16pt;
	}
}
