.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40rem;
	margin-top: 20px;
	margin-bottom: 40px;
}

.left, .leftInactive, .min, .dots, .number, .active, .max, .right {
	--size: 3.5rem;
	height: var(--size);
	width: var(--size);
	border: none;
	border-radius: 5px;
	color: var(--font-color);
	font-size: 16pt;
}

.left, .right {
}

.left, .min, .number, .max, .right {
	background-color: var(--accent-2);
}

.dots {
	height: 3.5rem;
}

.dots, .leftInactive {
	background-color: var(--accent-5);
}

.active {
	background-color: var(--accent-4);
}

.dots, .left, .leftInactive, .right {
	background-size: cover;
	background-position: center;
}

.left:hover, .min:hover, .number:hover, .max:hover, .right:hover {
	background-color: var(--highlight);
}

@media(max-width: 768px) {

	.main {
		width: 90vw;
	}

	.left, .leftInactive, .min, .dots, .number, .active, .max, .right {
		--size: 3.5rem;
		height: var(--size);
		width: var(--size);
		font-size: 12pt;
	}

	.left, .right {
		display: none;
	}
}
