.main {

	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 40px;

}

.left, .leftInactive, .min, .dots, .number, .active, .max, .right {

	height: 60px;
	padding: 15px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	color: var(--font-color);
	font-size: 16pt;

}

.left, .right {
}

.left, .min, .number, .max, .right {
	background-color: var(--accent-2);
}

.dots, .leftInactive {
	background-color: var(--accent-5);
}

.active {
	background-color: var(--accent-4);
}

.dots, .left, .leftInactive, .right {

	background-size: cover;
	background-position: center;
	width: 40px;

}

.dots {
	background-image: url('/hdots.svg');
}

.left, .leftInactive{
	background-image: url('/left-arrow.svg');
}

.right {
	background-image: url('/right-arrow.svg');
}

.left:hover, .min:hover, .number:hover, .max:hover, .right:hover {
	background-color: var(--highlight);
}

@media(max-width: 768px) {

	.left, .leftInactive, .min, .dots, .number, .active, .max, .right {

		height: 40px;
		width: 40px;
		padding: 10px;
		margin: 5px;
		border: none;
		border-radius: 5px;
		color: var(--font-color);
		font-size: 12pt;

	}

	.left, .right {
		display: none;
	}
}
