.main {

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

}

.count {

	font-size: 24pt;
	font-family: var(--font);
	color: var(--font-color);
	padding-right: 50px;

}

.img {

	padding-left: 30px;

}
